<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Attacks!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Learnt on Mars, baby!</a></p>
    </div>
    
    <!-- mars news -->
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{site_data[0]['news']['news_title']}}</h4>
        <p class="heading">{{site_data[0]['news']['news_p']}}</p>
      </div>
    </div>
    
    <!--featured image-->
    <div class="row">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <img src={{site_data[0]['featured_image']}} width='100%'>
      </div>

      <!--facts table-->
      <h2>Mars Facts</h2>    
      <div class="col-md-4">
        <table class="table">
          {% for ea in range(0,9) %}
          <tbody>
            <tr>
              <th scope="row"></th>
              
              <td>{{site_data[0]['facts']['0']['values'][ea]}}</td>
              <td>{{site_data[0]['facts']['1']['values'][ea]}}</td>
                      
            </tr>
          </tbody>
          {% endfor %}    
        </table>
    </div>

    <!--hemisphere images-->
    <div class="row">
      <div class="col-md-12">
        <h2>Mars Hemispheres</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        {% for ea in range(0,2) %}
        <h4 class="heading">{{site_data[0]['hemisphere_images'][ea]['title']}}</h4>
        <img src={{site_data[0]['hemisphere_images'][ea]['url']}} width='100%'>
        {% endfor %}
      </div>
      <div class="col-md-5">
        {% for ea in range(2,4) %}
        <h4 class="heading">{{site_data[0]['hemisphere_images'][ea]['title']}}</h4>
        <img src={{site_data[0]['hemisphere_images'][ea]['url']}} width='100%'>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>
